<h1>Find a Movie</h1>

<%= form_tag("/movies/find", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag "Search", class: "btn btn-success btn-sm" %>
<% end %>

<% if params[:q] && @results.size != 0 %>
    <h1>Did you mean...?</h1>

    <%= form_tag '/movies', method: :POST %>
        <% @results.each do |movie| %>
            <%= radio_button_tag :movie, movie %> <%= label_tag :title, "#{movie[:title]} (#{movie[:year]})"%>
            <br>
    <% end %>
    <%= submit_tag "Select", class: "btn btn-outline-success" %>
    
<% elsif params[:q] && @results.size == 0 %>
    <% flash.now[:error] = 'No results found' %>
<% end %>