<h1>Find a Movie</h1>

<%= form_tag("/movies/find", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if params[:q] && @results.size != 0 %>
    <h1>Did you mean...?</h1>

    <%= form_tag '/movies', method: :POST %>
        <% @results.each do |movie| %>
            <%= radio_button_tag :movie, movie["id"] %> <%= label_tag :title, "#{movie["title"]} (#{movie["release_date"][0,4]})"%>
            <br>
    <% end %>
    <%= submit_tag value="Select" %>
    
<% elsif params[:q] && @results.size == 0 %>
    <% flash.now[:error] = 'No results found' %>
<% end %>