<h1>Find a Movie</h1>

<%= form_tag("/movies/find", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if params[:q] && @results.size != 0 %>
    <h1>Did you mean...?</h1>

    <% @results.each do |movie| %>
        <%= form_tag '/movies', method: :POST %>
            <%= label_tag :title, "#{movie["title"]} (#{movie["release_date"][0,4]})"%>
            <%= submit_tag value="This one" %>
            <br>
            <%= hidden_field_tag :title, movie["title"] %>
            <%= hidden_field_tag :year, movie["release_date"][0,4] %>
            <%= hidden_field_tag :overview, movie["overview"] %>
            <%= hidden_field_tag :poster_path, movie["poster_path"] %> 
            <%= hidden_field_tag :tmdb_id, movie["tmdb_id"] %>
            <%= hidden_field_tag :submitter_id, 1 %>
            <br>
    <% end %>
    
<% elsif params[:q] && @results.size == 0 %>
    <% flash.now[:error] = 'No results found' %>
<% end %>