<h1>Add a Movie</h1>

<%= form_for @movie do |f| %>
    <%= f.label "Title" %><br/>
    <%= f.text_field :title %><br/>
    <%= f.label "User: "%>
    <%= f.collection_select :submitter_id, @users, :id, :name %>
    <br>
    <%= f.submit%>
<% end %>