<h1><%= @movie.title %> </h1>
<div>
    <%= link_to 'themovieDB link', '/' %>
</div>
<br>
<h4>submitted by <%= link_to @movie.submitter.name, @movie.submitter %> </h4>
<div class='delete'>
<% if can? :destroy, Movie%>
<%= button_to "delete", {:controller => :movies, :id => @movie.id, :action => 'destroy' }, :method => :delete %>
<% end %>
</div>
<br>
<%= form_for @vote do | form | %>
    <%= form.hidden_field :movie_id, value: @movie.id%>

    <%= form.label "User: "%>
    <%= form.collection_select :user_id, @users, :id, :name %>
    <br>
    <%= form.radio_button(:up, true)%>
    <%= form.label 'Upvote' %>
    <%= form.radio_button(:up, false) %>
    <%= form.label 'Downvote'%>
    <br>
    <%= form.submit %>
<% end %>
<br>
<%= link_to "Return to Movies page", movies_path %>