<%= content_for :title, " - #{@user.name}"%>

<h1><%= @user.name %></h1>

<h3><%= @user.role %> </h3>

<h4>Movies submitted:</h4>
<ul>
<% @user.movies.each do | movie | %>
    <li><%= link_to movie.title, movie %></li>
<% end %>
</ul>

<div class='delete'>
<% if can? :destroy, User%>
<%= button_to "Delete User", {:controller => :users, :id => @user.id, :action => 'destroy' }, :method => :delete, class: "btn btn-danger" %>
<% end %>
</div>