<h1>Create a User</h1>

<%= form_for @user do |f| %>
    <%= f.label "Name" %><br/>
    <%= f.text_field :name %><br/>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
    <%= f.submit%>
<% end %>