<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= @current_user %> 
   <%#= render 'layouts/header' %>
   <% if @current_user %>
   <h4><%= @current_user.name %> is the current user!</h4>
   <% end %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  </body>
</html>
