<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/movies">Movie Night!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav navbar-nav collapse navbar-collapse" id="navbarNavAltMarkup">
   <!-- <div class="nav navbar-nav"> -->
      <a class="nav-item nav-link" href="/movies">All Movies</a>
      <a class="nav-item nav-link" href="/movies/find">Add Movie</a>
      <a class="nav-item nav-link" href="/users">Users</a>
      <ul class="nav navbar-nav ml-auto">
        <% if @current_user %>
          <li class="nav-item"><a class="nav-link">Welcome, <%= @current_user.name %>!</a></li>
        <% end %>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a>
      </ul>
    </div>
 <!-- </div> -->
</nav>
   <%# if @current_user %>
   <h4><%#= @current_user.name %> is the current user!</h4>
   <%# end %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>."><%= value %></div>
      <% end %>
    <%= yield %>
    
    <br>
    <br>
    <% if @current_user.id %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to "Log In", login_path %>
    <% end %>

  </body>
</html>
