<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight<%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/movies">Movie Night!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav navbar-nav collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="nav-item nav-link" href="/movies">All Movies</a>
      <a class="nav-item nav-link" href="/movies/find">Add Movie</a>
      <a class="nav-item nav-link" href="/users">Users</a>
      <ul class="nav navbar-nav ml-auto">
        <% if session[:current_user_id] %>
          <li class="nav-item"><a class="nav-link">Welcome, <%= @current_user.name %>!</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a>
        <% else %>
          <li class="nav-item"><a class="nav-link" href="/login">Login</a>
        <% end %>
      </ul>
    </div>
    </div>
</nav>
<br/>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <br/>
      <br/>
    <%= yield %>

  </body>
</html>
